@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.page-transition {
    view-transition-name: page-content;
}

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

@keyframes border {
    0% {
        --border-angle: 0deg;
    }
    100% {
        --border-angle: 360deg;
    }
}