<div class="w-full h-screen grid grid-cols-2 justify-items-center items-center pl-48 md:pl-24 sm:pl-6">
    <div>
        <h1 class="bg-linear-to-r from-[#FF7A00] via-[#FF3E1F] to-[#FF001F] bg-clip-text text-transparent text-4xl md:text-6xl lg:text-8xl font-bold mb-4 md:mb-6">
            Introducing <br/>Resume Roast.
        </h1>
        <p class="text-left max-w-2xl text-[20px]">
            Resume Roast uses brutal AI analysis to pinpoint flaws, optimize for ATS, and get your resume noticed by top employers. Stop wasting applications, start getting interviews.
        </p>
        <a 
            href="#whitelist"
            class="bg-linear-to-r from-[#F97316FF] to-[#DC2626FF] px-8 py-4 rounded-2xl hover:opacity-90 duration-300 inline-block mt-8 text-white font-medium text-xl"    
        > 
            Join Whitelist
        </a>
    </div>
    <div>
        <img src="/hero-image.png" alt="Hero Image" class=" max-w-3xl shadow-[20px_15px_15px] shadow-white/15 rounded-2xl"/>
    </div>
</div>